<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>XScience</h1>
            <p><i>Scientific papers</i></p>
        </div>
    </div>

    <nav class="navbar fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <button type="button" (click)="searchDocumentsText()" class="btn btn-success">Search
                            documents</button>
                        <button type="button" (click)="searchDocumentsMetadata()" class="btn btn-success">Search
                            Documents by Metadata</button>
                        <button type="button"
                            *ngIf="currentUserRole === 'ROLE_EDITOR' || currentUserRole === 'ROLE_AUTHOR' || currentUserRole === 'ROLE_REVIEWER'"
                            (click)="myDocuments()" class="btn btn-success">My Documents</button>
                        <button type="button"
                            *ngIf="currentUserRole === 'ROLE_EDITOR' || currentUserRole === 'ROLE_AUTHOR' || currentUserRole === 'ROLE_REVIEWER'"
                            (click)="uploadPublication()" class="btn btn-success">Upload Publication</button>
                        <button type="button" *ngIf="currentUserRole === 'ROLE_EDITOR'" (click)="documentsForApproval()"
                            class="btn btn-success">Documents for approval</button>
                        <button type="button"
                            *ngIf="currentUserRole === 'ROLE_EDITOR' || currentUserRole === 'ROLE_REVEWER' || currentUserRole === 'ROLE_AUTHOR'"
                            (click)="myReviews()" class="btn btn-success">Documents for my review</button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" *ngIf="!currentUserEmail" (click)="login()" class="btn btn-primary">Log
                        in</button>
                    <button type="button" *ngIf="currentUserEmail" (click)="logout()" class="btn btn-primary">Log
                        out</button>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Search <b>Publication Metadata</b> <i>_case sensitive</i></h2>
                        <input
                            *ngIf="currentUserRole === 'ROLE_EDITOR' || currentUserRole === 'ROLE_AUTHOR' || currentUserRole === 'ROLE_REVIEWER'"
                            type="checkbox" name="myDocuments" [(ngModel)]="this.myDocumentsCheckBox">
                        <label
                            *ngIf="currentUserRole === 'ROLE_EDITOR' || currentUserRole === 'ROLE_AUTHOR' || currentUserRole === 'ROLE_REVIEWER'">
                            <i>My Publications Only</i></label>

                    </div>
                    <button *ngIf="isShow" type="button" (click)="searchAgain()" class="btn btn-primary">Reset
                        search</button>
                    <div class="search-box">
                        <form class="form-inline md-form mr-auto mb-4">


                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="!isShow">
                <div class="form-group">
                    <label>Papertype</label>
                    <select name="dan" class="form-control" [(ngModel)]="this.paperTypeTemp" required>
                        <option value="RESEARCH_PAPER" selected>RESEARCH PAPER</option>
                        <option value="VIEWPOINT">VIEWPOINT</option>
                        <option value="TECHNICAL_PAPER">TECHNICAL PAPER</option>
                        <option value="CONCEPTUAL_PAPER">CONCEPTUAL PAPER</option>
                        <option value="CASE_STUDY">CASE STUDY</option>
                        <option value="LITERATURE_REVIEW">LITERATURE REVIEW</option>
                        <option value="GENERAL_REVIEW">GENERAL REVIEW</option>
                    </select>
                    <button type="button" (click)="addPaperType()" class="btn btn-primary">Add paper type</button>
                </div>

                <div class="form-group">
                    <label *ngIf="a != 0">Field of study</label>
                    <input type="text" class="form-control" [(ngModel)]="this.fieldOfStudyTemp" placeholder="Search"
                        aria-label="Search">
                    <button type="button" (click)="addFieldOfStudy()" class="btn btn-primary">Add field of
                        study</button>
                </div>
                <div class="form-group">
                    <label *ngIf="this.myDocumentsCheckBox == ''">Author email</label>
                    <input *ngIf="this.myDocumentsCheckBox == ''" type="text" name="search_box" class="form-control"
                        [(ngModel)]="this.authorTemp" placeholder="Search" aria-label="Search">
                    <button *ngIf="this.myDocumentsCheckBox == ''" type="button" (click)="addAuthor()"
                        class="btn btn-primary">Add email</button>
                </div>
                <div class="form-group">
                    <label>Keyword</label>
                    <input type="text" name="search_box" class="form-control" [(ngModel)]="this.keyWordTemp"
                        placeholder="Search" aria-label="Search">
                    <button type="button" (click)="addKeyword()" class="btn btn-primary">Add keyword</button>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="search_box" class="form-control" [(ngModel)]="this.titleTemp"
                        placeholder="Search" aria-label="Search">
                    <button type="button" (click)="addTitle()" class="btn btn-primary">Add title</button>
                </div>
                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Date from</label>
                    <div class="col-10">
                        <input placeholder="YYYY-MM-DD" class="form-control" type="date" [(ngModel)]="this.dateFromTemp"
                            id="example-date-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Date until</label>
                    <div class="col-10">
                        <input placeholder="YYYY-MM-DD" class="form-control" type="date"
                            [(ngModel)]="this.dateUntilTemp" id="example-date-input">
                    </div>
                </div>
                <button type="button" (click)="addDate()" class="btn btn-primary">Add date</button>
                <button type="button" (click)="search()" class="btn btn-primary">Search</button>
            </div>


            <p>Current search : {{this.searchData}}</p>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 40%"><b>Document title</b></th>
                        <th><b>Document author</b></th>
                        <th style="width: 15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let document of documents; let i = index">
                        <td>
                            {{document.title}}
                        </td>
                        <td>
                            {{document.author}}
                        </td>
                        <td>
                            <button (click)='openDocument(document.title)' type="button"
                                class="btn btn-danger">Open</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</body>