.image-upload-container {
    cursor: pointer;
  }

  .container {
    margin-left: 1%;
}


.navbar {
  margin-bottom: 40px;
  border-radius: 0;
  background-color: #435d7d;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
}
