body {
    background-color:#eee;
    height: 100vh;
}
.navbar {
    margin-bottom: 40px;
    border-radius: 0;
    background-color: #435d7d;
}

/* Add a gray background color and some padding to the footer */

footer {
    background-color: #203535;
    padding: 25px;
}

button {
    margin-right: 0px;
    margin-bottom: 0px;
}

.textarea {
    margin-left: 10%;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    color: inherit;
    background-color: #eee;
}