<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>XScience</h1>
            <p><i>Scientific papers</i></p>
        </div>
    </div>
    <div class="table-wrapper" >
        <table class="table table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th><b>Document title</b></th>
                    <th style="width: 38%">Action</th>
                </tr>
            </thead>

            <tbody >
                <tr *ngFor="let document of documents; let i = index">
                    <td>
                        <b>{{document.title}}</b>
                    </td>
                    <td>
                        <button (click)='openDocument(document.title)' type="button" class="btn  btn-primary">Open</button>
                        <button (click)='assignReviewer(document.title)' type="button" class="btn  btn-primary">Assign Reviewer</button>
                        <button (click)='viewReviews(document.title)' type="button" class="btn  btn-primary">View reviews</button>
                        <button (click)='minorRevision(document.title)' type="button" class="btn  btn-primary">Minor revision</button>
                        <button (click)='majorRevision(document.title)' type="button" class="btn  btn-primary">Major revision</button>
                        <button (click)='acceptDocument(document.title)' type="button" class="btn btn-success">Accept</button>
                        <button (click)='rejectDocument(document.title)' type="button" class="btn btn-danger">Reject</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group" id="button">
            <button id="return" (click)="homepage()" class="btn btn-success">Home Page</button>
        </div>
    </div>
</body>