<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>XScience</h1>
            <p><i>Scientific papers</i></p>
        </div>
    </div>
    <div class="table-wrapper" >
        <table class="table table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th><b>Document title</b></th>
                    <th><b>Document author</b></th>
                    <th style="width: 15%">Action</th>
                </tr>
            </thead>

            <tbody >
                <tr *ngFor="let document of documents; let i = index">
                    <td>
                        {{document.title}}
                    </td>
                    <td>
                        {{document.author}}
                    </td>
                    <td>
                        <button (click)='openDocument(title)' type="button" class="btn btn-danger">Open</button>
                        <button (click)='assignReviewer(title)' type="button" class="btn btn-danger">Assign Reviewer</button>
                        <button (click)='viewReviews(title)' type="button" class="btn btn-danger">View reviews</button>
                        <button (click)='acceptDocument(title)' type="button" class="btn btn-danger">Accpet</button>
                        <button (click)='minorRevision(title)' type="button" class="btn btn-danger">Minor revision</button>
                        <button (click)='majorRevision(title)' type="button" class="btn btn-danger">Major revision</button>
                        <button (click)='rejectDocument(title)' type="button" class="btn btn-danger">Reject</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group" id="button">
            <button id="return" (click)="homepage()" class="btn btn-success">Home Page</button>
        </div>
    </div>
</body>